:root {
    --gold: #E4B944;
    --white: #ffffff;
    --black: #000000;
    --btn-color: var(--gold);
    --btn-font-color: var(--black);
    --widget-font: 'Raleway', sans-serif;
    --small-text-size: 14px;
    --small-text-weight: 400;
    --small-text-weight-bold: 700;
    --normal-text-size: 16px;
    --normal-text-weight: 400;
    --normal-text-weight-bold: 700;
    --big-text-size: 18px;
    --big-text-weight: 700;
    --min-width: 346px;
    --max-width: 865px;
}

#wbld {
    background-color: #FFFFFF;
    display: table;
    width: 100%;
    max-width: 650px;
    min-height: 1000px;
    font-family: var(--widget-font);
    line-height: 1.25;
    margin: 0 auto;
    position: relative;
}
#mainbar {
    float: left;
    box-sizing: border-box;
    width: calc(100% - 10px - 10px);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}
#input {
    height: 169px;
    border-bottom: 1px solid grey;
    display: grid;
    justify-content: center;
}
#input-line-1 {
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 173px);
}
#input-line-2 {
    display: grid;
    grid-template-columns: repeat(2, 173px);
}
.input-block-left {
    float: left;
    box-sizing: border-box;
    width: 173px;
    padding-right: 8px;
}
.input-block-right {
    float: left;
    box-sizing: border-box;
    width: 173px;
    padding-left: 8px;
}
#before_output{
    float: left;
    box-sizing: border-box;
    width: 100%;
    min-height: 1230px;
}
#output {
    float: left;
    box-sizing: border-box;
    width: 100%;
}


/* --> Onboarding and text editor styles */
.text-editor {
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #000000;
}
.p-box {
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight);
    color: #000000;
    margin: 0px;
}
.p-box:nth-child(n + 2) {
    margin-top: 10px;
}
.p-box-big {
    font-size: 18px;
}
.small-text {
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight);
    color: #000000;
    margin: 0px 6px 6px 10px;
}
.onboarding-title, .main-title {
    display: table;
    width: 100%;
    max-width: 346px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    font-size: 32px;
    font-weight: var(--big-text-weight);
    text-align: center;
    color: #000000;
}
.word-room {
    color: navy;
    font-style: italic;
}
.onboarding-description, .main-description {
    display: table;
    width: 100%;
    max-width: 346px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    text-align: center;
    color: #000000;
}
.user-inspiring-image {
    display: none;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
#file-upload {
    box-sizing: border-box;
    max-width: 346px;
    margin: 0 auto;
    padding: 80px 20px 80px 20px;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 5px;
}
#file-upload label {
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight-bold);
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--btn-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
@media (hover: hover) {
#file-upload label:hover {
    border-color: var(--btn-color);
}
}
#file-upload input[type="file"] {
    display: none;
}
#file-preview {
    display: none;
    box-sizing: border-box;
    width: 100%;
    max-width: 346px;
    margin: 0 auto;
}
.onboarding-images, .inspiring-images {
    display: table;
    width: 100%;
    max-width: 346px;
    margin: 0 auto;
}
.onboarding-image-left, .inspiring-image-left {
    float: left;
    box-sizing: border-box;
    width: calc(50% - 5px);
    margin-right: 5px;
    margin-bottom: 10px;
}
.onboarding-image-right, .inspiring-image-right {
    float: left;
    box-sizing: border-box;
    width: calc(50% - 5px);
    margin-left: 5px;
    margin-bottom: 10px;
}
.onboarding-image-left img, .onboarding-image-right img, .inspiring-image-left img, .inspiring-image-right img, #file-preview img  {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}
.onboarding-image-left img.img-selected, .onboarding-image-right img.img-selected, .inspiring-image-left img.img-selected, .inspiring-image-right img.img-selected, #file-preview img.img-selected {
    border: var(--btn-color) solid 4px;
    box-sizing: border-box;
}
.onboarding-image-desc, .inspiring-image-desc {
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: #000000;
}
/* <-- Onboarding and text editor styles */

/* --> Product Popup styles */
#product-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#product-popup-content {
    box-sizing: border-box;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 500px;
    overflow-y: auto;
    text-align: left;
}
#product-popup-image {
    box-sizing: border-box;
    display: flex;
    float: left;
    width: 50%;
    height: 200px;
}
#product-popup-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}
#product-popup-info {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 200px;
    text-align: left;
    padding: 20px;
    color: #000000;
}
#product-popup-info-title {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: var(--big-text-weight);
    font-size: var(--big-text-size);
    color: #000000;
}
#product-popup-info-price {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    color: #000000;
}
#product-popup-info-amount {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    color: #000000;
}
.product-popup-info-product-link-btn {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    color: #000000;
}
.link-btn {
    font-size: 11px;
    font-weight: bold;
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--btn-font-color);
    border-radius: 95px 95px 95px 95px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}
@media (hover: hover) {
.link-btn:hover {
    border-color: var(--btn-color);
}
}
.product-popup-info-product-comment-btn {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}
#product-popup-list {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-top: 9px;
    margin-top: 20px;
    overflow-x: scroll;
    scrollbar-width: thin;
    border-top: #DDDDDD 1px solid;
    position: relative;
}
#product-popup-list-title {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding-bottom: 5px;
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}
#product-popup-list-items {
    box-sizing: border-box;
    display: flex;
    float: left;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    scrollbar-width: thin;
    color: #000000;
}
#product-popup-list-item {
    box-sizing: border-box;
    float: left;
    width: 190px;
    height: 170px;
    margin-left: 0px;
    margin-right: 20px;
    color: #000000;
}
#product-popup-list-item img {
    box-sizing: border-box;
    display: flex;
    float: left;
    width: 190px;
    height: 130px;
    object-fit: contain;
    cursor: pointer;
}
#product-popup-list-item p {
    box-sizing: border-box;
    float: left;
    width: 190px;
    object-fit: contain;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #000000;
}

body.no-scroll {
    overflow: hidden;
}

#email-block {
    display: table;
    width: 100%;
    max-width: 346px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
#email-title {
    box-sizing: border-box;
    width: 100%;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: #000000;
    padding: 10px 0px 10px 0px;
}
#email {
    box-sizing: border-box;
    width: 100%;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    border-radius: 95px 95px 95px 95px;
    padding: 10px 30px 10px 16px;
    margin: 0px 0px 10px 0px;
}
#email::placeholder {
    font-size: var(--normal-text-size);
}
#email-error {
    display: none;
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight-bold);
    color: #FF0000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
}
#email-btn {
    box-sizing: border-box;
    width: 165px;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--btn-font-color);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}
#email-btn:hover {
    border-color: var(--btn-color);
}
/* <-- Product Popup styles */

/* --> Powered by styles */
#poweredby {
    float: left;
    box-sizing: border-box;
    width: 100%;
}
.poweredby-links {
    float: left;
    width: 50%;
    text-align: left;
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight-bold);
    padding-top: 3px;
    padding-bottom: 3px;
    color: #000000;
}
.poweredby-links-big {
    float: left;
    width: 100%;
    text-align: left;
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight-bold);
    padding-top: 16px;
    padding-bottom: 0px;
    color: #000000;
}
.poweredby-text {
    float: left;
    width: calc(50% - 5px - 78.5px);
    text-align: right;
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight-bold);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    color: #000000;
}
.poweredby-img {
    float: left;
    height: 20px;
    width: 78.5px;
    display: block;
}
.poweredby-whatsapp {
    float: left;
    width: 189px;
    display: block;
    padding-top: 16px;
    padding-bottom: 0px;
}
.poweredby-img img, .poweredby-whatsapp img {
    width: 100%;
    height: auto;
}
/* <-- Powered by styles */

/* --> Widget Container styles */
.widget-container {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.heading-title {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
.heading-subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.room-budget-title {
    float: left;
    width: 60%;
}
.total-budget-title {
    float: left;
    width: 40%;
    text-align: right;
}
/* <-- Widget Container styles */

/* --> Buttons styles */
.filter-btn {
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 3px 3px 0px;
    cursor: pointer;
}
@media (hover: hover) {
.filter-btn:hover {
    color: var(--btn-font-color);
    background-color: var(--btn-color);
}
}
.filter-btn.selected {
    color: var(--btn-font-color);
    background-color: var(--btn-color);
}
.filter-btn.country-btn {
    width: 104px;
}
.filter-btn.bedroom-btn {
    width: 158px;
}
.filter-btn.layout_size-btn{
    width: 104px;
}

.select-btn {
    box-sizing: border-box;
    width: 165px;
    overflow: hidden;
    background-color: #FFFFFF;
    background: #FFFFFF;
    color: #000000;
    position: relative;
  
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    border-style: solid;
    border-width: 1px;
    border-radius: 95px 95px 95px 95px;
    border-color: #000000;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
@media (hover: hover) {
.select-btn:hover {
    color: var(--btn-font-color);
    background-color: var(--btn-color);
}
}
.select-btn:after {
    top: 50%;
    left: 87%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -1px;
    z-index: 1;
    cursor: pointer;
}
.select-btn .select {
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.generate-btn, .save-share-btn {
    width: 165px;
    margin: 0 auto;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight-bold);
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--btn-font-color);
    border-radius: 95px 95px 95px 95px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}
.save-share-btn {
    display: none;
    position: relative;
}
.save-share-btn-text {
    float: left;
    width: calc(100% - 13px - 10px);
}
.save-share-btn-icon {
    float: left;
    width: 13px;
    height: 16px;
}
.save-share-btn-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
#copyMessage {
    display: none;
    position: absolute;
    top: -35px; /* Position above the button */
    left: 0%;
    background-color: #f0f0f0; /* Slightly gray background */
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight);
    color: #000000;
    padding: 5px 10px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Small border */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Small shadow */
    border-radius: 5px; /* Rounded corners */
    white-space: nowrap; /* Prevent line breaks */
}
@media (hover: hover) {
.generate-btn:hover, .save-share-btn:hover {
    border-color: var(--btn-color);
}
}
/* <-- Buttons styles */

/* --> Popup styles */
.popup {
    box-sizing: border-box;
    position: absolute;
    width: 346px;
    left: calc(50% - 173px);
    max-height: 550px;
    margin-top: 10px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    z-index: 2;
}

.done {
    display: none;
}

.input-container {
    position: relative;
    display: block;
}
#address-search {
    box-sizing: border-box;
    float: left;
    width: 100%;
    font-size: var(--normal-text-size);
    font-weight: var(--normal-text-weight);
    color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    border-radius: 95px 95px 95px 95px;
    padding: 10px 30px 10px 16px;
    margin: 0px 5px 5px 0px;
}
#address-search::placeholder {
    font-size: var(--small-text-size);
}
.clear-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: #999;
    font-size: 18px;
    display: block;
    border: solid 1px;
    border-radius: 50%;
    padding: 8px 12px 8px 12px;
    z-index: 999;
}
.clear-button:hover {
    color: #333;
}
/* <-- Popup styles */

/* --> Layout change and Wait Bar styles */
#wait-bar {
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    margin: 29px 100px 29px 100px;
    z-index: 0;
    touch-action: none;
}
.wait-bar-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--btn-color);
    clip: rect(0px, 50px, 100px, 0px);
    transform: rotate(0deg);
    z-index: 2;
    will-change: transform;
}
.wait-bar-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #f44336;
    animation: spin 2s linear infinite;
    z-index: 1;
    will-change: transform;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.layout-change-block {
    float: left;
    box-sizing: border-box;
    width: 147px;
}
.layout-change-block:nth-child(2n + 1) {
    margin: 3px 3px 6px 0px;
}
.layout-change-block:nth-child(2n + 2) {
    margin: 3px 0px 6px 3px;
}
.layout-change img {
    box-sizing: border-box;
    width: 147px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.layout-change img.img-selected {
    border-width: 4px;
    border-color: var(--btn-color);
}
.layout-change .layout-change-description {
    box-sizing: border-box;
    width: 147px;
    overflow: hidden;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
}

#loading-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    display: none;

    position: absolute;
    top: 155px;
    left: 0;
    z-index: 999;
    background-color: #FFFFFF;
}
.progress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #DDDDDD;
  border-radius: 5px;
  margin-top: 20px;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--btn-color);
  border-radius: 5px;
  width: 100%;
  max-width: 0%;
  transition: width 0.5s;
}
.label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 20px;
  padding-top: 3px;
  color: var(--black);
  font-size: 11px;
  font-weight: bold;
}
/* <-- Layout change and Wait Bar styles */

/* --> Product Mood Board styles */
.product-mood-board {
    box-sizing: border-box;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    min-width: 346px;
    max-width: 650px;
    height: 325px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
    position: relative;
}
.product-div {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}  
.gray-point {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
    border: solid 2px white;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.7;
}
@media (hover: hover) {
    .gray-point:hover {
        width: 14px;
        height: 14px;
    }
}
.cart-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px;
    cursor: pointer;
}
@media (hover: hover) {
    .cart-icon:hover {
        width: 24px;
        height: 24px;
    }
}
.finger-click {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 35px;
    animation: zoomInOut 1s infinite alternate;
}
.finger-scroll-x {
    position: absolute;
    left: 250px;
    top: 15%;
    width: 35px;
    animation: moveLeftRight 3.5s infinite linear;
}
.finger-click img, .finger-scroll-x img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes moveLeftRight {
    0% {
        left: 250px;
    }
    75% {
        left: 100px;
    }
    100% {
        left: 250px;
    }
}
.product-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
/* <-- Product Mood Board styles */

/* --> Output Buttons styles */
.output-btns {
    display: table;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.output-btn-left {
    box-sizing: border-box;
    width: calc(50% - 2px - 3px);
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight);
    color: #fff;
    background-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 3px 3px 0px;
    cursor: pointer;
}
.output-btn-right {
    box-sizing: border-box;
    width: calc(50% - 2px - 3px);
    font-size: var(--small-text-size);
    font-weight: var(--small-text-weight);
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--btn-font-color);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 3px 3px;
    cursor: pointer;
}
@media (hover: hover) {
    .output-btn-left:hover {
        border-color: #ffffff;
    }
    .output-btn-right:hover {
        border-color: var(--btn-color);
    }
}
/* <-- Output Buttons styles */

@media screen and (min-width: 346px) and (max-width: 865px) {

.clear-button {
    font-size: 19px;
}

/* --> Product Popup styles mobile */
#product-popup-content {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    max-height: 550px;
    padding: 5px 20px 5px 20px;
}
#product-popup-image {
    width: 100%;
    height: 170px;
}
#product-popup-info {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px;
}
#product-popup-info-title {
    font-size: 16px;
    padding-bottom: 10px;
}
#product-popup-info-price {
    width: 50%;
}
#product-popup-info-amount {
    width: 50%;
}
.product-popup-info-product-comment-btn {
    padding-top: 10px;
    width: 50%;
}
.product-popup-info-product-link-btn {
    width: 50%;
}
#product-popup-list {
    margin-top: 5px;
}
#product-popup-list-item {
    width: 170px;
}
#product-popup-list-item img {
    width: 170px;
}
#product-popup-list-item p {
    width: 170px;
}
/* <-- Product Popup styles mobile */
}
